* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.nav-logo{
	display: inline;
	text-align: center;
	padding-left: 10rem;
	
}

nav{
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 1;
}


.right-nav{
	padding-right: 10rem;
	float: right;
	font-weight: bold;
}

.nav{
	display: inline-block;
	margin-left: 10px;
	
}

.tuitt-button{
		color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;

}

.title{
	text-align: right;
	margin-left: auto;

}

.subtitle{
	font-size: 1rem;
	width: 500px;
	text-align: right;
	margin-left: auto;

}



#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 40vh;
	width: 100vw;
	background-position: 50% 50%;
	margin: 10px;
	
}

.front-bg{
	color: white;
	/*background-color: black;*/
	/*opacity: 60%;*/
	background-color: rgba(0, 0, 0, 0.5);
	padding-right: 10rem;
	min-height: 40vh;
	width: 100vw;
	
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	margin-left: auto;
	float: right;

}

.title-2{
	font-family: 'Zilla Slab', serif;
	padding-top: 5rem;
	padding-bottom: 6rem;
	text-align: center;
}

.intro-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;

		
}

.pre-footer{
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	background-color: #f7fbfb;
	padding-bottom: 20%;
}

.prefooter-description {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;

}

footer span {
	padding: 1rem;
}

footer {
	text-align: center;
}




